@import '../styles/Variables.scss';

.input__container {
    padding: 2px;
    margin: 5px; 
    font-family: $defaultFont;

    .label {
        margin-right: 12px;
        color: $textColor;
        text-transform: uppercase;
        font-family: $headingFont;
    }
    
    .input {
    
    }

    .select {
        padding: 5px;
    }
}


